.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-max-width {
  position: relative;
  padding-top: 36px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 12px;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-image {
  width: 166px;
  height: 40px;
}
.navbar-image1 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.navbar-image2 {
  top: 18px;
  right: 13px;
  width: 29px;
  height: 28px;
  position: absolute;
  object-fit: cover;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image3 {
  width: 106px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-primary-btn {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.navbar-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon12:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.navbar-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  flex: 0 0 auto;
  width: 457px;
  height: 120px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: rgba(175, 168, 162, 0.34);
}
.home-text {
  width: 385px;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0px;
}
.home-hero {
  padding-top: var(--dl-space-space-twounits);
}
.home-max-width {
  align-items: stretch;
}
.home-content-container {
  flex: 1;
  height: 355px;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  width: 90%;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 19px;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text02 {
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-select {
  width: 411px;
  height: 53px;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-container3 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text03 {
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-input-container {
  flex: 0 0 auto;
  width: 420px;
  display: flex;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
}
.home-container4 {
  width: 408px;
  height: 53px;
  display: flex;
  max-width: 376px;
  align-items: center;
  line-height: 1.5;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-icon {
  fill: var(--dl-color-grays-gray40);
  width: 24px;
  height: 24px;
}
.home-textinput {
  flex: 1;
  color: var(--dl-color-grays-black100);
  border-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
}
.home-max-width1 {
  align-items: stretch;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text04 {
  width: 90%;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 19px;
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text05 {
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-select1 {
  width: 411px;
  height: 53px;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text06 {
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-input-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
}
.home-container6 {
  width: 408px;
  height: 53px;
  display: flex;
  max-width: 376px;
  align-items: center;
  line-height: 1.5;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-icon2 {
  fill: var(--dl-color-grays-gray40);
  width: 24px;
  height: 24px;
}
.home-textinput1 {
  flex: 1;
  color: var(--dl-color-grays-black100);
  border-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
}
.home-content-container2 {
  flex: 1;
  height: 355px;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text07 {
  width: 90%;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 19px;
}
.home-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text08 {
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-select2 {
  width: 411px;
  height: 53px;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-button {
  display: flex;
  transition: 0.3s;
  align-items: center;
  line-height: 1;
  padding-top: 20px;
  white-space: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: rgb(213, 1, 1);
}
.home-button:hover {
  color: rgb(213, 1, 1);
  border-color: rgb(213, 1, 1);
}
